@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  transition-duration: 0.5s;
}

*::-webkit-scrollbar {
  width: 1px;
}

body {
  background-image: url("https://a11an0.github.io/MorseCode-Translator/styles/images/pearl-waves.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: max(100vh, 300px);
  display: flex;
  flex-direction: column;
}

.program {
  height: 95%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  overflow-y: hidden;
}

.tile {
  height: 80%;
  width: 80%;
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow-y: scroll;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.translator {
  min-height: 100%;
  max-height: fit-content;
  width: 100%;
  font-weight: 350;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: visible;
  overflow-x: hidden;
}

.translator:focus {
  outline-width: 0px;
}

.englishToMorse {
  background-color: rgba(2, 234, 178, 0.2);
}

.morseToEnglish {
  background-color: rgba(255, 0, 0, 0.2);
}

@media screen and (min-width: 481px) {
  .translator {
    font-size: clamp(100%, 5vw, 150%);
  }
}
@media screen and (min-width: 768px) {
  .program {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-height: 450px) {
  .translator {
    font-size: 1rem;
  }
}
.logo {
  width: 100%;
  height: 10%;
  margin-top: 10%;
  margin-bottom: -3%;
}
.logo__link {
  margin-left: 3%;
}

.logo__link__name {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 0.35em;
}

svg {
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
}

a {
  color: rgba(16, 15, 15, 0.926);
  text-decoration: none;
}

a:hover {
  color: rgba(16, 15, 15, 0.926);
  text-decoration: none;
  cursor: pointer;
}

.fa-primary {
  opacity: 0.5;
}

@media screen and (min-width: 481px) {
  svg {
    width: 2.3rem;
    height: 2.3rem;
  }

  .logo__link__name {
    font-size: 1.5rem;
  }

  .logo {
    margin-top: 3.5%;
    margin-bottom: -3%;
  }
}
@media screen and (min-width: 768px) {
  svg {
    width: 3.5rem;
    height: 3.5rem;
  }

  .logo__link__name {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 991px) {
  svg {
    width: 4.2rem;
    height: 4.2rem;
  }

  .logo__link__name {
    font-size: 3rem;
  }
}
@media screen and (max-height: 450px) {
  .logo__link__name {
    font-size: 1.5rem;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }

  .logo {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
.title {
  font-weight: 200;
}
